* {
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 211, 211);
}

.calculator {
    background-color: rgb(25, 25, 25);
    height: 750px;
    width: 550px;
    padding-top: 50px;
    border-radius: 10px;
    margin: auto;
}

.display {
    background-color: rgb(162, 173, 156);
    height: 75px;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 700;
    padding-top: 10px;
    border-radius: 10px;
    margin: auto;
    text-align: end;
}

.buttons {
    text-align: center;
    margin-top: 50px;
}

button:hover {
    background-color: rgb(255, 100, 193);
}

button {
    background-color: rgb(255, 19, 240);
    color: rgb(25, 25, 25);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
    height: 70px;
    width: 90px;
    border: 0;
    border-radius: 50%;
    margin: 10px;
}

.clear,
.delete {
    height: 100px;
    width: 200px;
}