* {
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 211, 211);
}

.calculator {
    background-color: rgb(20, 20, 20);
    height: 800px;
    width: 550px;
    padding-top: 50px;
    margin: auto;
}

.display {
    background-color: rgb(211, 211, 211);
    height: 150px;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin: auto;
    text-align: end;
}

.buttons {
    text-align: center;
    margin-top: 75px;
}

button:hover {
    background-color: rgb(255, 100, 193);
}

button {
    background-color: rgb(255, 19, 240);
    color: rgb(211, 211, 211);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 100px;
    width: 100px;
    border: 0;
    border-radius: 50%;
    margin: 10px;
}